@CHARSET "utf-8";

.footer{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #481010;
	color: white;
	font-size: 14px;
}

.link-footer a{
	color: white;
	font-size: 14px;
}

.link-footer a:HOVER {
	color: red;
	text-decoration: none;
}